{% if content.images.images %}
	{% set placeholder = content.images.images[0].image ? content.images.images[0].image.url : content.images.images[0].url %}
{% endif %}

{% if placeholder is empty %}
	{% set placeholder = getElementsHiveProPluginUrl() ~ 'assets/images/placeholders/blocks1.webp' %}
{% endif %}

<img class="eh-webgl-lone-slider__image-placeholder" src="{{placeholder}}" alt="Container used for positioning the slider images" aria-hidden="true"/>
<canvas class="eh-webgl-lone-slider__canvas" aria-hidden="true"></canvas>

<div class="eh-webgl-lone-slider__slides">
  %%CHILDREN%%
</div>
 {{ macros.atomV1IconHtml('eh-webgl-lone-slider__btn eh-webgl-lone-slider__btn--previous', content.navigation.previous_icon, false, false, design.navigation.previous_icon.icon) }}
  {{ macros.atomV1IconHtml('eh-webgl-lone-slider__btn eh-webgl-lone-slider__btn--next', content.navigation.next_icon, false, false, design.navigation.next_icon.icon) }}

{% if isBuilder %}
  <div class="eh-webgl-lone-slider__builder-images">
    {% for item in content.images.images %}
      {{ macros.getMedia(item.image) }}
    {% endfor %}
  </div>
{% endif %}
